<%- include('../partials/header') %>


<h3>YOOOOOOOOOOOOOOO</h3>

<form action="/posts/new" method="POST">
    <select name="county_name">
        <option value="Los Angeles">Los Angeles</option>
    </select>
    <select name="spot_name">
        <option value="Venice">Venice</option>
        <option value="El Porto">El Porto</option>
        <option value="Malibu">Malibu</option>
    </select>
    <button type="submit">View Forecast</button>
</form>

<% if(posts === '') { %>
    <h3>There are currently no posts</h3>
<% } else { %>
    <% posts.forEach(function(p) { %>
        <div class="row bootstrap snippets">
            <h3>
                <%= p.userName %>
            </h3>
            <h3>
                <%= p.createdAt %>
            </h3>
            <h3>
                <%= p.description %>
            </h3>
            <h3>
                <%= p.date %>
            </h3>
            <h3>
                <a href="/posts/<%= p._id %>">View</a>
            </h3>
        </div>
        <br><br>
    <% })} %>    

<%- include('../partials/footer') %>