<%- include('../partials/header') %>

<div class="new">
    <h2>
        <%= spotName %> Seven Day Surf Forecast
    </h2>
    
    <form action="/posts" method="POST">
        <table class="table">
            <thead class="thead">
                <th>Select</th>
                <th>Date</th>
                <th>Conditions</th>
                <th>Size</th>
            </thead>
            <tbody>
                <% sevenDays.forEach(function(day) { %>
                    <% if(day.size < 3.5) { %>
                    <tr bgcolor="lightblue">
                    <% } else if(day.size < 5.5) { %>
                    <tr bgcolor="lightseagreen">
                    <% } else { %>
                    <tr bgcolor="red">
                   <%  } %>
                        <td><input type="radio" value="<%= JSON.stringify(day) %>" name="day"></td>
                        <td><%= day.date %></td>
                        <td><%= day.shape_full %></td>
                        <td><%= day.size %>ft</td>
                    </tr>
                <% }) %>
            </tbody>
        <table>
        <div class="inputs"> 
            <label>Add a Comment</label>
            <input type="text" name="description" autocomplete="off">
            <label>What Time?</label>
            <input type="time" name="time">
        </div>
        <div class="secret">
            <input type="text" name="sevenDays" value="<%= JSON.stringify(sevenDays) %>">
        </div>
        <div class="secret">
            <input type="text" name="spotName" value="<%= JSON.stringify(spotName) %>">
        </div>
        <button type="submit">Submit Session</button>
    </form>
</div>


<%- include('../partials/footer') %>