<%- include('../partials/header') %>

<% if(JSON.parse(post.day).size < 3.5) { %>
    <div class="feed small">
<% } else if(JSON.parse(post.day).size < 5.5) { %>
    <div class="feed medium">
<% } else { %>
    <div class="feed large"> 
<% } %>
    <h1>
        <%= JSON.parse(post.day).spot_name %>
    </h1>
    <div class="inner">
        <h3>
            <%= JSON.parse(post.day).shape_full %>, <%= JSON.parse(post.day).size %>ft
        </h3>
        <h3>
            <%= JSON.parse(post.day).date %> at <%= post.time %> PST
        </h3>
        <h4 class="caption-start">
            <%= post.userName %>: <%= post.description %>
        </h4>
        <h6>
            Posted: <%= post.createdAt %>
        </h6>
    </div>
</div>

<div class="scroll-comment">
    <% post.comments.forEach(function(comment, idx) { %>
        <div class="comment">
            <h2>
                <%= comment.userName %>
            </h2>
            <div class="inner caption-start">
                <h4>
                    <%= comment.text %>
                </h4>
                <h6>
                    Posted: <%= comment.createdAt %>
                </h6>
                <% if (comment.user) { %>
                <% if (comment.user.toString() === user._id.toString()) { %>
                    <form action="/posts/<%= post._id %>/comments/<%= idx %>?_method=DELETE" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                <% }} %>
            </div>
        </div>
    <% }) %>
</div>

<div class="input-text">
    <form action="/posts/<%= post._id%>/comments" method="POST">
        <h4 class="caption">Add a Comment</h4>
        <textarea name="text" cols="45" rows="3"></textarea>
        <div class="bttn">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>




<%- include('../partials/footer') %>